@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

form {
  margin-bottom: 20px;
}

input {
  margin-right: 10px;
}

button {
  margin-left: 10px;
}